/* text styles */

body {
	color: #777;
	font-family: 'Rubik', sans-serif;
	background-image: url("../images/code-bg.jpg");
}

h1,
h2,
h3 {
	color: #4aaaa5;
}

a {
	color: #777;
}

a:hover {
	color: #4aaaa5;
	font-weight: bold;
	text-decoration: none;
}

/* nav */

header {
	background: white;
}

#name {
	background: #4aaaa5;
	color: white;
	margin-bottom: 0;
	padding: 15px 15px 20px 15px;
	font-weight: 700;
}

#name span {
	font-weight: 300;
}

nav {
	padding-top: 30px;
}

nav a {
	padding-right: 15px;
	padding-left: 10px;
	border-right: 1px solid #ccc;
}

nav a:last-child {
	border-right: none;
	padding-right: 0;
}

/* body */

.jumbotron {
	background-size: contain;
	border-radius: 0;
	border-top: 2px solid #ddd;
	background: none;
}

.portfolio {
	background: white;
}

hr {
	border: 1px solid #ddd;
}

.main-section {
	background: white;
	padding: 20px;
	border: 2px solid #ddd;
}

/* about */

.main-image {
	width: 185px;
	margin: 5px 25px 5px 0px;
}

.bio {
	padding: 10px 30px 10px 20px;
}

/* portfolio images */

.thumbnail {
	margin: 10px auto 20px auto;
	display: block;
	border: 2px solid #4aaaa5;
	border-radius: 5px;
	position: relative;
}

.col img:hover {
	opacity: 0.7;
}

#overlay {
	position: absolute;
	width: 300px;
	z-index: 2;
	float: left;
	top: 50%;
	left: 50%;
}

/* contact form */

.btn-primary {
	background: #4aaaa5;
	border: none;
}

.btn-primary:hover {
	background: black;
}

/* card */

.card {
	height: 120px;
	margin-left: 20px;
	background: white;
	border-radius: 0px;
}

.linkedin-icon {
	height: 25px;
	opacity: .8;
	margin: 5px;
}

.linkedin-icon:hover {
	opacity: .5;
}

.github-icon {
	height: 25px;
	opacity: .8;
	margin: 5px;
}

.github-icon:hover {
	opacity: .5;
}

/* footer */

footer {
	background: #666666;
	border-top: 7px solid #4aaaa5;
}

footer p {
	color: #bbb;
	font-size: .75em;
	padding-top: 15px;
}